/*tipo de fuente*/
*{
	font-family: 'Roboto', sans-serif;
	color: #FFF;
	font-size: 1em;
}
body{
	padding-top: 5%;
}
/*color menu*/
.bg-verde{
	background-color: #26AD60;
}
/*estilos del menu*/
.navbar{
	border-radius: 0;
}
/*color texto negro*/
.texto-negro{
	color: #000;
}
.nav>li>a:focus, .nav>li>a:hover{
	background-color: #fff;
	border-radius: 20px;
	color: #000;
}
/*texto blanco*/
a, .fa{
	color: #fff;
}
/*color texto gris*/
input, .texto-gris{
	color: #515151;
}
/*imagen de fondo texto principal*/
.carousel-bg{
	background-image: url("../img/carousel-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100%;
}
/*encabezzados*/
h1, h2, h3, h4, h5{
	font-weight: normal;
}
/*texto principal*/
h1{
	font-size: 3em;
	letter-spacing: 1px;
}
.text-1{
	font-size: 1.5em;
}
/*texto de subtitulos*/
h2{
	font-size: 3.5em;
	word-spacing: 10px;
}
/*estilo de linea*/
hr.linea-negra{
	border-color: #000;
	width: 15%;
}
/*linea blanca*/
.linea-blanca{
	border-color: #fff;
	width: 15%;
}
/*linea puntos*/
.linea-puntos{
	border-style: dashed;
	border-color: #D2D2D2;
}
a:hover{
	text-decoration: none;
	color: #191A3D;
}
/*fondo azul*/
.bg-azul{
	background-color: #2D3E50;
}
/*imagen fondo de redes*/
.bg-redes{
	background-image: url("../img/img-divider-img.jpg");
	background-size: 100%;
	background-position: top;
	width: 100%;
}
/*barras de progreso*/
.barras{
	height: 10px;
	border-radius: 0;
	margin-bottom: 1%;
}
.position, .btn-gris{
	background-color: #433E42;
	border: none;
}
/*tabla de precios*/
table{
	border: 1px solid #26AD60;
}
.tcafe{
	background-color: #8F5F37;/*color cafe*/ 
}
.tblanca{
	background-color: #FFF;
}
thead>tr>th{
	border-bottom: 0 !important;
}
th{
	font-size: 1.5em;
}
td>strong{
	font-size: 2.5em;
}
.tverde{
	background-color: #26AD60 !important;
}
/*clientes*/
blockquote{
	border-left: 0;
}
.text-naranja{
	color: #BE7738;
}
/*input de footer*/
.icon{
	border: 0;
}
