header {
	background-color: #008516;
	padding: 20px 20px;
}

#back1 {
	background-image: url("../img/carousel-bg.jpg");
	background-size: cover;
	color: #fff;
	text-align: center;

}

a {
	text-decoration: none;
	color: #fff;
}

ul {
	list-style: none;
	color: #fff;
}


li {
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
}

input {
	width: 600px;
	margin-top: 10px;
	margin-left: 300px;
}

.input-mensaje {
	height: 200px;
}

hr {
	border: 1px black solid;
	width: 180px;
}
	


	/* COLORES */
.ancho{
	width:16.66%;
  }

.alto {
	height: 150px;
}


#C-69D2E7 {
	background-color: #69D2E7;
}
#C-A7DBDB {
	background-color: #A7DBDB;
}
#C-E0E4CC {
	background-color: #E0E4CC;
}
#C-F38630 {
	background-color: #F38630;
}
#C-FA6900 {
	background-color: #FA6900;
}


#C-E94C6F {
	background-color: #E94C6F;
}
#C-542733 {
	background-color: #542733;
}
#C-5A6A62 {
	background-color: #5A6A62;
}
#C-C6D5CD {
	background-color: #C6D5CD;
}
#C-FDF200 {
	background-color: #FDF200;
}


#C-DB3340 {
	background-color: #DB3340;
}
#C-E8B71A {
	background-color: #E8B71A;
}
#C-F7EAC8 {
	background-color: #F7EAC8;
}
#C-1FDA9A {
	background-color: #1FDA9A;
}
#C-28ABE3 {
	background-color: #28ABE3;
}


.back-gris {
	background-color: #496067;
}

.back-verde {
	background-color: #28bd6e;
}

.back-redes {
	background-image: url("../img/img-divider-img.jpg");
	background-size: cover;
}

.redes {
	width: 100px;
	height:100px;
	margin-left: 50px;
}

.mail-footer {
	width: 200px;
}

/* EXTRAS*/


.pa-2-5{
		padding: 2% 5%;
}

.te-center {
	text-align: center;
}

.titulo {
	font-size: 4em;
}

.blanco{
	color: #fff;
}

.top20 {
	margin-top: 20px;
}

.top70 {
	margin-top: 70px;
}

.bottom30 {
	margin-bottom: 30px;
}

.left200 {
	margin-left: 200px;
}

.pad-left {
	padding-left: 170px;
}

.pad-left200 {
	padding-left: 200px;
}

.pad-bt {
	padding-bottom: 100px;
}

	/* MEDIA */

@media screen and (max-width: 992px) {
	ul {
		display: none;

	}

	h2 {
		font-size: 1em;
	}	

	.titulo {
		font-size: 2em;
	}

	.tamaño{
		width:100%;
  	}

  	.renglon2 {
  		display: none;
  	}

  	.icon {
  		margin-left: 30%;
  	}

  	input {
		width: 100%;
		margin-top: 10px;
		margin-left: 0px;
	}

	.redes {
		width: 50%;
		height: 50%;
		display: block;
		margin-top: 10px;
		
	}

}