/*padding y margin*/
.pd-2-10{
	padding: 2% 10%;
}
.pd-1{
	padding: 1%;
}
.pd-5{
	padding: 5%;
}
.pdt-5{
	padding-top: 5%;
}
.pdt-10{
	padding-top: 10%;
}
.pd-10{
	padding: 10%;
}
.pd-18{
	padding: 0 18%;
}
.mgt-2{
	margin-top: 2%;
}
.mgt-5{
	margin-top: 5%;
}
.pdtb-10{
	padding: 0 10%;
}
.pdb-10{
	padding-bottom: 10%;
}
.mg-0{
	margin: 0;
}